<html>
<head>
    <title>document</title>

<style>


    .btn{
        margin-top: 200px;
       
    }
    .sub{
    padding: 50px;
     width: 250px;
     background-color: #2f5b8d;
    text-align: center;
    border-radius: 5px;
    overflow: auto;
    margin-left: 150px;
    margin-top: 52px;
    color: white;
    }
    .btn1{
        display:flex;
        margin-left: 400px;
        
    }
    .btn2{
        display: flex;
        margin-left:400px ;
    }
    body{
        background-color:  rgb(211, 227, 244);
    }


</style>
</head>

<div class="btn">
<div class="btn1">
    <a href="/administrator/Studentreg/"><button class="sub">STUDENT</button></a>
    
</div>
<div class="btn2">
    <a href="/administrator/addfaculty/"><button class="sub" >FACULTY</button></a>
    
</div>
</div>
</html>