body{
    background-image: url("https://5.imimg.com/data5/SELLER/Default/2024/3/401978527/KR/PN/UH/108836434/computer-lab-setup.jpg");
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    backdrop-filter: blur(5px);
    background-size: cover;
}
.lab{
    padding: 100px;
    max-width: 350px;
    background-color: #2f5b8d;
    border-radius: 10px;
    box-shadow:0 0 50px rgba(163, 188, 223, 0.1);
   
}        
.sch{
     margin-bottom: 15px;
     color: white;
    
}
.sch input{
    width: 90%;
    padding: 6px;
    border-radius: 5px;
    border: 1px solid rgb(21, 20, 20);
    background-color: rgba(187, 193, 203, 0.858);
    margin-top: 5px;
    cursor: pointer;
    color: white;
}
.sch button{
    background-color: rgba(13, 35, 67, 0.858);
    padding: 5px;
    width: 75%;
    text-align: center;
    color: white;
}
.sch button:hover{
    background-color: rgb(41, 54, 63);
}
.sc a{
    color: rgb(241, 233, 233);
    text-decoration: none;
}
.sch input::placeholder{
    color: rgb(255, 254, 254);
    text-align: center;
}

.sc input{
    
    padding: 15px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: rgba(253, 253, 253, 0.858);
    margin-top: 5px;
    cursor: pointer;
}
