


{% extends 'admin/adminbase.html' %}
{%block body%}


<style>
        
       body{
        background-color: rgb(211, 227, 244);
        
       }

        #table1{
          width: 50%;
            border-collapse: collapse;
            background-color: #2f5b8d;
            border:1px solid black;
            
            margin-left: 470px;
            
            
            
            
        }

        .lab{
    padding: 50px;
    max-width: 250px;
    margin-left: 1100px;
    /* background-color: rgb(59, 127, 165); */
    border-radius: 10px;
    /* box-shadow:0 0 50px rgba(5,2, 1, 0.1); */
   position: relative;
   top: 40px;
   left: 80px;
}    
        th,td{
           padding: 10px;
           text-align: center;
        }

        tr{
          border:1px solid white;
        }
        * {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    .plusbutton{
      margin-left: 1100px;
      border-radius: 5px;
    color: black;
    text-align: center;
    font-size: 25px;
    margin-bottom: 50px;
     
    }

  </style>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <div class="lab">
    <a href="/Addnotifications/"><i class="material-icons" style="font-size: 35px;">add</i></a>
  </div>

    <div>
      <table id="table1" >
        <tr>
            <th>Notifications</th>
            <th>Date</th>
            </tr>
            {% for i in notificationobject %}
            <tr>

                <td>{{i.notification}}</td>
                <td>{{i.notificationdate}}</td>
                <td><a href="/administrator/updatenotification/{{i.id}}"><i class="material-icons" style="color: black;">edit</i></a></td>
                <td><a href="/administrator/Deletenotification/{{i.id}}/"><i class="material-icons" style="color: black;">delete</i></a></td>
                
        </tr>
        {% endfor %} 
    </table>
  
    </div>

  
{% endblock %}
 
