
{% extends 'admin/adminbase.html' %}
{%block body%}


<style>
        
       

        #table1{
          width: 50%;
            border-collapse: collapse;
            background-color: #2f5b8d;
            border:1px solid black;
            margin-left: 520px;
            
            
            
            
            
        }
        th,td{
           padding: 10px;
           text-align: center;
           color: whitesmoke;
        }

        tr{
          border:1px solid white;
        }
        * {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    .plusbutton{
      margin-left: 1012px;
      border-radius: 5px;
    text-align: center;
    font-size: 25px;
    /* margin-bottom: 50px; */
    margin-top:109px;
     
    }
    </style>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <div class="plusbutton">
      <a href="/administrator/addtimeslot/{{e.id}}"><i class="material-icons" style="font-size: 35px;">add</i></a>
    </div>
  
<div>
    <table id="table1">
        
            <tr>
                <th colspan="3">Time Slot</th>
            </tr>
            <tr>
                <th colspan="">Lab Name{{e.lab.name}}</th>
                <th>Capacity{{e.lab.capacity}}</th>
                
            </tr>
        
        
            <tr>
                <td>ID</td>
                <td>Start Time</td>
                <td>End Time</td>
                
            </tr>
            {% for i in t %}
            <tr>
                <td>{{i.id}}</td>
                <td>{{ i.slot_start_time|time:'H:i' }}</td>
                <td>{{ i.slot_end_time|time:'H:i' }}</td>

                <td><a href="/administrator/edittimeslot/{{i.id}}"><i class="material-icons" style="color: whitesmoke;">edit</i></a></td>
                <td><a href="/administrator/Deletetimeslot/{{i.id}}"><i class="material-icons" style="color: whitesmoke;">delete</i></a></td>
                
            </tr>
            {% endfor %}
            
        
    </table>
</div>
{% endblock %}