
  {% extends 'admin/adminbase.html' %}
  {% block body %}

  <!-- Popup windows -->
  <div class="overlay" id="overlay"></div>
  
  <!-- Notification Popup -->
  <div class="popup" id="popupNotification">
    <h2>New Notification</h2>
    <textarea placeholder="Type your notification here..."></textarea>
    <button onclick="sendNotification()">Send</button>
  </div>
  

  

  <script>
    // Function to show popup
    function showPopup(popupId) {
      document.getElementById(popupId).style.display = "block";
      document.getElementById("overlay").style.display = "block";
    }

    // Function to hide popup
    function hidePopup() {
      document.querySelectorAll('.popup').forEach(popup => popup.style.display = "none");
      document.getElementById("overlay").style.display = "none";
    }

    // Event listeners for sidebar menu items
    document.getElementById("notificationBtn").addEventListener("click", () => showPopup("popupNotification"));
   
    // Function to handle logout


    // Functions for sending notifications, etc.
    function sendNotification() {
      hidePopup();
      // Implement sending notification logic here
    }

   
  </script>

{% end block %}