<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
   <form action="">
    <div>
    <label for="">Choose Semester</label>
    
    <select name="" id="">
     <option value=""></option>
     <option value="FIRST SEMESTER">FIRST SEMESTER</option>
     <option value="SECOND SEMESTER">SECOND SEMESTER</option>
     <option value="THIRD SEMESTER">THIRD SEMESTER</option>
     <option value="FOURTH SEMESTER">FOURTH SEMESTER</option>
     <option value="FIFTH SEMESTER">FIFTH SEMESTER</option>
     <option value="SIXTH SEMESTER">SIXTH SEMESTER</option>
    </select>
</div>
<div>
    <input type="checkbox" value="subject 1">Subject 1
    <input type="checkbox" value="subject 2">Subject 2
    <input type="checkbox" value="subject 3">Subject 3
    <input type="checkbox" value="subject 4">Subject 4

</div>





    <div>
 
   <button type="submit" >Add Subjects</button>
</div>
</form> 
</div>
</body>
</html>