{% extends 'admin/adminbase.html' %}
{% block body %}
<style>
.lab{
     padding: 62px;
     max-width: 500px;
     background-color: #2f5b8d;
    border-radius: 5px;
    box-shadow:0 0 50px rgba(5,2, 1, 0.1);
    overflow: auto;
    margin-left: 600px;
    margin-top: -52px;
   
}        
.sch{
     margin-bottom: 15px;
     color: rgb(241, 236, 236);
    
}
.sch input{
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: white;
    margin-top: 5px;
    color: rgb(2, 2, 2);
}
.sch button{
    background-color: rgba(54, 53, 56, 0.858);
    padding: 10px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 15px;
}


.sc input{
    
    padding: 15px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: rgba(37, 36, 38, 0.858);
    margin-top: 10px;
    cursor: pointer;
}
.sch textarea{
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  background-color: white;
  font-size: 16px;
  
}
.sch label{
    font-size: 15px;
    font-style: normal;
    color: whitesmoke;
    margin-bottom: 10px;
}
.inp input{
    background-color:rgb(1, 13, 39);
      padding: 10px;
      width: 100%;
      text-align: center;
      color: white;
      font-size: 15px;

  }



     
    
  </style>
  
  <div class="lab">
  <form action="" method="post">
    {% csrf_token %}
    <div style="font-size: 25px;text-align: center;">Update Labstaff</div>
    <div class="sch">
    <label for="">Name</label>
    <input type="text" name="name" id="" value="{{ls.name}}">
</div>
<div class="sch">
    <label for="">Address</label>
    <textarea name="address" id="" rows="2" cols="20">{{ls.name}}</textarea>
</div>
<div class="sch">
    <label for="">Email</label>
    <input type="text" name="email" id="" value="{{ls.email}}">
</div>
<div class="sch">
    <label for="">Phone number</label>
    <input type="text" name="phone" id="" value="{{ls.phone}}">
</div>
<div class="sch">
    <label for="">Lab</label>
    <select name="lab" id="">
        {% for i in r %}
        <option value="{{i.id}}" {% if i.id == ls.lab.id %} selected {% endif %}>{{i.name}}</option>
        {% endfor %}
    </select>
  </select>
  </div>


<div class="inp" >
    <b><input type="submit" name="" id="" value="UPDATE"></b>
   </div>
   
    {% endblock %}

    
  

  

  
