


{% extends 'admin/adminbase.html' %}
{%block body%}


<style>
        
       

        #table1{
          width: 50%;
            border-collapse: collapse;
            background-color: #2f5b8d;
            border:1px solid black;
            margin-left: 520px;
            
            
            
            
            
        }
        th,td{
           padding: 10px;
           text-align: center;
           color: whitesmoke;
        }

        tr{
          border:1px solid white;
        }
        * {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    .plusbutton{
      margin-left: 1012px;
      border-radius: 5px;
    text-align: center;
    font-size: 25px;
    /* margin-bottom: 50px; */
    margin-top:109px;
     
    }

  </style>
  

  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=calendar_add_on" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=calendar_add_on" />
  <div class="plusbutton">
    <a href="/administrator/Addlabs/"><i class="material-icons" style="font-size: 35px;">add</i></a>
  </div>

    <div>
      <table id="table1">
        <tr>
            <th >LAB Name</th>
            <th>Capacity</th>
            
            
            </tr>
           {% for i in labs %}
            <tr>

                
                <td>{{i.name}}</td>
                <td>{{i.capacity}}
            </td>
                
                <td><a href="/administrator/Editlab/{{i.id}}/"><i class="material-icons" style="color: whitesmoke;">edit</i></a></td>
                <td><a href="/administrator/Deletelab/{{i.id}}/"><i class="material-icons" style="color: whitesmoke;">delete</i></a></td>
                <td><a href="/administrator/viewworkingday/{{i.id}}/"><i class="material-symbols-outlined" style="color: whitesmoke;">calendar_add_on</i></a></td>
                
        </tr>
       {% endfor %}
    </table>
  
    </div>

  
{% endblock %}
 
