


{% extends 'admin/adminbase.html' %}
{%block body%}


<style>
        
       

        #table1{
          width: 50%;
            border-collapse: collapse;
            background-color: rgba(4, 46, 37, 0.53);
            border:1px solid black;
            margin-left: 520px;
            
            
            
            
        }
        th,td{
           padding: 10px;
           text-align: center;
        }

        tr{
          border:1px solid white;
        }
        * {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    .plusbutton{
      margin-left: 1100px;
      border-radius: 5px;
    color: black;
    text-align: center;
    font-size: 25px;
    margin-bottom: 50px;
     
    }

  </style>

  <div class="plusbutton">
    <a href="/addfaculty/"><button type="button">ADD Faculty</button></a>
  </div>

    <div>
      <table id="table1">
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Email address</th>
            <th>Phone number</th>
            </tr>
           
            <tr>

                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><a href=""><button >EDIT</button></a></td>
                <td><a href=""><button >DELETE</button></a></td>
                
        </tr>
       
    </table>
  
    </div>

  
{% endblock %}
 
