


{% extends 'admin/adminbase.html' %}
{%block body%}


<style>
        
       body{
        background-color: rgb(211, 227, 244);
        
       }

        #table1{
          width: 50%;
            border-collapse: collapse;
            background-color: #2f5b8d;
            border:1px solid black;
            
            margin-left: 470px;
            margin-bottom: 150px;
            
            
            
            
        }

        
        th,td{
           padding: 10px;
           text-align: center;
           color: whitesmoke;
        }

        tr{
          border:1px solid white;
        }
        * {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    .plusbutton{
      margin-left: 1012px;
      border-radius: 5px;
    text-align: center;
    font-size: 25px;
    /* margin-bottom: 50px; */
    margin-top:109px;
    margin-right: 75px;
     
    }

  </style>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <div class="plusbutton">
    <a href="/Addnotifications/"><i class="material-icons" style="font-size: 35px;">add</i></a>
  </div>

    <div>
      <table id="table1" >
        <tr>
            <th>Notifications</th>
            <th>Date</th>
            </tr>
            {% for i in notificationobject %}
            <tr>

                <td>{{i.notification}}</td>
                <td>{{i.notificationdate}}</td>
                <td><a href="/administrator/updatenotification/{{i.id}}/"><i class="material-icons" style="color: whitesmoke;">edit</i></a></td>
                <td><a href="/administrator/Deletenotification/{{i.id}}/"><i class="material-icons" style="color: whitesmoke;">delete</i></a></td>
                
        </tr>
        {% endfor %} 
    </table>
  
    </div>

  
{% endblock %}
 
